$input-border-radius: 	4px;

$body-background: #f0f0f0;

$sidebar-background: #cbd0d8;
$sidebar-text-color: #2a4365;

$toggle-track-background: rgba(30,30,30,.2);
$toggle-cursor-off-background: grey;
$toggle-cursor-on-background: #4874a8;
$toggle-cursor-on-border: darken(#4874a8, 5%);
