:global{

	@import 'typography';
	@import 'variables';

	body{
		background:$body-background;
		@extend %font-body;
	}

	h1, h2, h3{
		@extend %font-head;
	}

	.sidebar{
		color:$sidebar-text-color;
		background: $sidebar-background;

		.row{
			&:hover{
				background: lighten($sidebar-background,3%)
			}

			&.selected{
				background: $body-background;
			}
		}

		.separator{
			border-color:darken($sidebar-background,10%);
			background-color: darken($sidebar-background,3%);
			color: darken($sidebar-background,25%)
		}

		.search input{
			border:none;
			border-radius:$input-border-radius;
			color: lighten($sidebar-text-color,30%);
		}

	}
}