:global{

	@import 'typography';
	@import 'variables';

	.cazzo{
	}

	body{
		background:$body-background;
		@extend %font-body;
				display:flex

	}

	h1, h2, h3{
		@extend %font-head;
	}

	.sidebar{
		color:$sidebar-text-color;
		background: $sidebar-background;

		.row{
			&:hover{
				background: lighten($sidebar-background,3%)
			}

			&.selected{
				background: $body-background;
				animation:none;
			}
		}

		.separator{
			border-color:darken($sidebar-background,10%);
			background-color: darken($sidebar-background,3%);
			color: darken($sidebar-background,25%)
		}

		.search input{
			border:none;
			border-radius:$input-border-radius;
			color: lighten($sidebar-text-color,30%);
		}
	}

	.toggle-switch{
		label{
			background: $toggle-track-background!important;
			&::after{
				background: $toggle-cursor-off-background!important;
			}
		}

		input:checked + label{
			&:after{
				background: $toggle-cursor-on-background!important;
				border-color: $toggle-cursor-on-border!important;
			}
		}
	}

	.update-button{
		span{
			background: $update-button-background!important;
			&::before{
				color:$update-button-foreground
			}
		}
	}
}