@mixin track{
	width: 2em;
	height: .6em;
	position: relative;
	display: inline-block;
	border-radius:.4em;
	transition:.2s;
}

@mixin track-palette{
	background: #999;
}

@mixin cursor{
	display:block;
	position: absolute;
	top:-.2em;
	width: 1em;
	height: 1em;
	border-radius:100%;
	z-index: 2;
	background: #bbb;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	transition:.4s;
}

@mixin cursor-off{
	left:-.1em;
}

@mixin cursor-on{
	left:1.1em;
}

@mixin cursor-off-palette{
	background: #bbb;
	border-color: darken(#bbb, 10%)
}

@mixin cursor-on-palette{
	background: blue;
}




:global{
	.toggle-switch{
		label{
			@include track-palette;
			&::after{
				@include cursor-off-palette;
			}
		}

		input:checked + label{
			&:after{
				@include cursor-on-palette;
			}
		}
	}
}

.toggleSwitch{
	position: relative;
	display: inline-block;

	input{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		opacity: 0;
		cursor:pointer;
		&:checked + label{
			&:after{
				@include cursor-on;
			}
		}
	}

	label{
		@include track;
		&:after{
			content: '';
			@include cursor;
			@include cursor-off;
		}
	}
}
