:global{

	@import 'typography';
	@import 'variables';
	$fa-font-path: '~font-awesome/fonts';
	@import 'icon-fonts/font-awesome';
	@import 'icon-fonts/core';


	*, *::before, *::after{
		box-sizing: border-box
	}


	body{
		background:#dedede;
		@extend %font-body;
	}

	h1, h2, h3{
		@extend %font-head;
	}

	.sidebar{
		color:$sidebar-text-color;
		float:left;
		width:300px;
		height:100vh;
		background: $sidebar-background;

		.row:nth-child(odd){

		}

		.separator{
			border-color:darken($sidebar-background,10%);
			background-color: darken($sidebar-background,3%);
			color: darken($sidebar-background,25%)
		}

		.search input{
			border:none;
			border-radius:$input-border-radius;
			color: lighten($sidebar-text-color,30%);
		}

	}
}