:global{

	@import 'typography';
	$fa-font-path: '~font-awesome/fonts';
	@import 'icon-fonts/font-awesome';
	@import 'icon-fonts/core';


	*, *::before, *::after{
		box-sizing: border-box
	}


	body{
		background:#dedede;
		@extend %font-body;
	}

	h1, h2, h3{
		@extend %font-head;
	}

	.sidebar{
		$sidebar-background: #cbd0d8;
		$sidebar-text-color: #2a4365;

		color:$sidebar-text-color;
		float:left;
		width:300px;
		height:100vh;
		background: $sidebar-background;

		.row:nth-child(odd){

		}
		.row{
			&:nth-child(even){
				background: lighten($sidebar-background, 2%);
			}
			&:nth-child(odd){
				background: darken($sidebar-background, 5%);
			}
		}
	}
}