@import "~susy/sass/susy";

$fa-font-path: '../../node_modules/font-awesome/fonts';

@import '../../styles/icon-fonts/font-awesome';
@import '../../styles/icon-fonts/core';

$susy: (
  gutter-position: inside-static,
  columns: 6,
  gutters: 0,
  global-box-sizing: border-box,
  use-custom: (
    clearfix: true,
  )
);


%col{
	@include span(100%);
}

%clearfix{ @include susy-clearfix() }

@mixin clearfix(){
  @extend %clearfix;
}

.repoList{
	padding:0;
	margin: 0 0 1.618rem 0;
}

.separator{
	display: block;
	clear:both;
	text-transform: uppercase;
	font-size:10px;
	letter-spacing: 1px;
	font-weight:400;
}

.repoItem, .bulkControls, .separator{
	@include clearfix;
	list-style: none;
	padding:0 1rem;
	margin:0;
	line-height:2rem;
}

.inactive{
	.label, .controls{
		opacity:.3;
	}
}

.label{
	@extend %col;
	width: span(5);
	font-size:14px;

	&::before{
		margin-right:.5em;
	}

}

.controls{
	@extend %col;
	float:right;
	text-align: right;
	width: span(1);

	button{
		cursor:pointer;
		background: none;
		border:none;
		outline:none;
		display:inline-block;
		position: relative;
		width: 50%;
		color:inherit;
		overflow: hidden;
		text-indent:-999em;
		font-size:10px;
		@include icon(fontawesome, null);

		&[disabled]{
			opacity:.5;
		}

		&::before{
			text-indent:0;
			position: absolute;
			left:0;
			width:100%;
			line-height: inherit;
			text-align: center;
		}

		&.switch::before{
			content:$fa-var-power-off
		}
		&.update::before{
			content:$fa-var-refresh
		}

		&.bulkSwitch{
			font-size:12px;
		}
	}
}
