@import "~susy/sass/susy";

$fa-font-path: '../../node_modules/font-awesome/fonts';

@import '../../styles/icon-fonts/font-awesome';
@import '../../styles/icon-fonts/core';

$susy: (
  gutter-position: inside-static,
  columns: 6,
  gutters: 0,
  global-box-sizing: border-box,
  use-custom: (
    clearfix: true,
  )
);


%col{
	@include span(100%);
}

%clearfix{ @include susy-clearfix() }

@mixin clearfix(){
  @extend %clearfix;
}

.repoList{
	padding:0;

	:global(.toggle-switch){
		font-size:1.2em;
	}

	:global(.update-button){
		font-size:1.2em;
	}

}


.repoItem, .manageTools, .separator, .search{
	@include clearfix;
	list-style: none;
	padding:0 1rem;
	margin:0;
	line-height:2rem;
	position: relative;
	font-size:10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight:bold;

}

.separator{
	display: block;
	clear:both;
	border-top:1px solid;
	margin-top:1rem;

	&:first-child{
		margin-top:0;
		border:0;
	}
}

.search{
	padding-top:1rem;

	input{
		display: block;
		padding:0 .5em;
		width: 100%;
			outline:none;

	}
}

.inactive{
	.label, .controls{
		opacity:.5;
	}
}

.label{
	@extend %col;
	width: span(7 of 10);

	&::before{
		margin-right:.5em;
	}

}

.repoItem .controls{
	@extend %col;
	float:right;
	text-align: right;
	width: span(3 of 10);
	font-size:13px;
}


.manageTools{
	padding-left:0;
	padding-right:0;
	margin-top:1rem;

	button{
		display:block;
		font-size:12px;
		padding-left:2em;
		cursor:pointer;
		background: none;
		text-align:left;
		width:100%;
		border:none;
		outline:none;
		display:inline-block;
		position: relative;
		color:inherit;
		overflow: hidden;
		@include icon(fontawesome, null);

		&::before{
			font-size:1.2em;
			margin-right:1em;
			vertical-align: top;
			line-height:inherit;
		}


		&[disabled]{
			opacity:.5;
		}


		&.switch::before{
			content:$fa-var-power-off
		}

		&.add::before{
			content:$fa-var-plus
		}
	}
}


.animEnter {
    opacity: 0;
    max-height:0;
    overflow:hidden;
}

@keyframes glow{
	0%{
		background-color:rgba(255,255,255,0);
	}
	50%{
		background-color:rgba(255,255,255,.4);
	}
	100%{
		background-color:rgba(255,255,255,0);
	}
}

.animEnter.animEnterActive {
	opacity: 1;
	max-height:3rem;
	transition-property: max-height, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1), linear;
	animation: glow 1s linear;
	animation-iteration-count: 2;
}
.animLeave {
	opacity: 1;
	max-height:3rem;
	transition-property: max-height, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1), linear;
}
.animLeave.animLeaveActive {
	opacity: 0;
    max-height:0;
    overflow:hidden;
}